{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "experimentalOperatorPosition": "end",
    "htmlWhitespaceSensitivity": "ignore",
    "importOrder": [
        "^react$",
        "^react-dom(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "objectWrap": "collapse",
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-css-order"
    ],
    "printWidth": 80,
    "proseWrap": "preserve",
    "quoteProps": "consistent",
    "semi": false,
    "singleAttributePerLine": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "vueIndentScriptAndStyle": false
}
