footer {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.25em;
    border-top: 1px solid #ddd;
    padding: 0.5em;
    line-height: 1;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer svg {
    font-size: 1.25em !important;
}
