.repo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 1em;
}

@media screen and (min-width: 1099px) and (max-width: 1499px) {
    #app.full-width .repo-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1500px) {
    #app.full-width .repo-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
