.select-menu {
    max-height: 50vh;
    overflow: auto;
}

.select-menu > div {
    display: flex;
    align-items: center;
}

.select-menu > div a {
    white-space: pre;
}

.select-menu label {
    display: block;
    width: 100%;
    padding: 0.5em 0;
}

.select-menu > .select-checkbox:hover {
    background-color: #eee;
}

body.dark .select-menu > .select-checkbox:hover {
    background-color: #2b296c;
}

.select-menu .select-checkbox + .select-menu-empty {
    display: none;
}

.select-menu-empty {
    padding: 0.5em 0;
}
