.repo-details > a {
    text-decoration: none;
}

.repo-details > a:hover {
    text-decoration: underline;
}

.repo-details > * {
    margin-left: 0 !important;
}

.repo-details > div {
    display: flex;
    align-items: start;
}

.repo-details a.card-link {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.repo-details svg {
    width: 1em;
    height: 1em;
}

.repo-options {
    position: absolute !important;
    top: 0.5em;
    right: 0.5em;
}

.repo-options .dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 0.1em;
}

.repo-topics {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 0.25em;
}
