.select-menu {
    max-height: 50vh;
    overflow: auto;
}

.select-menu > div {
    display: flex;
    align-items: center;
}

.select-menu > div a {
    white-space: pre;
}

.select-menu label {
    display: block;
    width: 100%;
    padding: .5em 0;
}

.select-menu > div:hover {
    background-color: #eee;
}
