.tablist {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
}

.tablist .active {
    background-color: green;
}

#allowed-topics p,
#alias-list p {
    margin-bottom: 0.5em;
}

#allowed-topics textarea {
    display: block;
    margin-top: 1em;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
}
