#app .topic-filter {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

#app .topic-filter > div {
    flex-grow: 1;
}

body.dark .topic-filter > div:first-of-type {
    background-color: #000;
}

body.dark
    .topic-filter
    > div:first-of-type
    > div
    > div:not(:last-of-type)
    > div {
    background-color: #ccc;
    color: #000;
}

body.dark
    .topic-filter
    > div:first-of-type
    > div
    > div:not(:last-of-type)
    > div
    > div {
    color: #000;
}

body.dark .topic-filter > div:first-of-type > div > div:last-of-type {
    color: #fff;
}
