.topic-view .accordion-collapse,
.topic-view .accordion-item {
    border: none !important;
    background-color: unset !important;
}

.topic-view .accordion-button.collapsed {
    border-bottom: 1px solid #ccc;
}

.topic-view .accordion-body {
    padding-top: 1em;
    padding-right: 0;
    padding-bottom: 1em;
    padding-left: 0;
}
