.topic-view .accordion {
    margin-top: 1.5em;
}

.topic-view .accordion-collapse {
    border: none !important;
    background-color: unset !important;
}

.topic-view .accordion-button.collapsed {
    border-bottom: 1px solid #ccc;
}

.topic-view .accordion-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 1em;
}
