#app {
    margin-top: 2rem;
    margin-bottom: 3rem;
    max-width: 900px;
}

#app > * {
    margin-top: 1em;
}

#demo-msg {
    text-align: center;
}

#demo-msg .btn-close {
    right: 1em;
}

#edit-repo > div:not(:last-child) {
    margin-bottom: 1em;
}

#app h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    display: flex;
    align-items: center;
    gap: 0.25em;
    padding: .5em;
    border-top: 1px solid #ddd;
    line-height: 1;
    justify-content: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer svg {
    font-size: 1em !important;
}

.toasts {
    padding: 1em;
}

.toasts .toast {
    /* width: fit-content; */
    padding: 0.5em;
    --bs-toast-max-width: fit-content;
    --bs-toast-spacing: .75em;
    display: flex;
    gap: 0.3em;
    font-size: 80%;
    align-items: center;
}

.toasts .toast button {
    display: flex;
    padding: 0 0.25em;
    border-radius: 0;
}

.toasts .toast button.close {
    padding: 0;
}

.toasts .toast svg {
    font-size: 1em;
}
