#app {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h1 {
    text-align: center;
}

.repo-details {
    padding-left: 1em;
    padding-right: 1em;
    flex-direction: row !important;
    gap: .5em;
}

.repo-details > a,
.repo-details > div {
    display: flex;
    align-items: end;
    line-height: 1;
    gap: 0.2em;
}

.repo-details svg {
    font-size: 1em;
}

.repo-topics {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: .25em;
}
