/* ────────────────────────────────────────────────────────────────────── */
/* NORMALIZE CSS */

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

label,
button,
[type="button"],
a[href] {
    cursor: pointer;
}

/* ────────────────────────────────────────────────────────────────────── */
/* APP */

#app {
    /* 2.5em = 1.5em (footer line-height) + 1em (footer padding) */
    position: relative;
    padding-top: 2rem;
    padding-bottom: 3rem;
    max-width: 900px;
    min-height: calc(100vh - 2.5rem);
}

#app.full-width {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    max-width: 90%;
}

#app > * {
    margin-top: 1em;
}

#app h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#display-options {
    column-gap: 0.75rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
}

/* ────────────────────────────────────────────────────────────────────── */
/* DEMO MESSAGE */

#demo-msg {
    text-align: center;
}

#demo-msg .btn-close {
    right: 1em;
}

/* ────────────────────────────────────────────────────────────────────── */
/* FIXES */

#app .stack-filter {
    flex-direction: row;
    gap: 0.5em;
}

#app .stack-filter > :first-child {
    flex-grow: 1;
}

body .MuiChip-label:hover {
    text-decoration: underline;
}

body div[id^="react-select"][id$="listbox"] > div > div {
    cursor: pointer;
}

/* ────────────────────────────────────────────────────────────────────── */
/* UTILS */

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 2;
}

.flex-wrap {
    flex-wrap: wrap;
}

.ml-auto {
    margin-left: auto;
}

/* ────────────────────────────────────────────────────────────────────── */
/* TOASTS */

.toasts {
    padding: 1em;
}

.toasts .toast {
    display: flex;
    align-items: center;
    padding: 0.5em;
    font-size: 80%;
    --bs-toast-max-width: fit-content;
    --bs-toast-spacing: 0.75em;
    gap: 0.3em;
}

.toasts .toast > button {
    display: flex;
    border-radius: 0;
    padding: 0 0.25em;
}

.toasts .toast > button.close {
    padding: 0;
}

.toasts .toast svg {
    font-size: 1em;
}

/* ────────────────────────────────────────────────────────────────────── */
/* DARK MODE */

body.dark {
    --dark-color: #bbb;
    --dark-bg: #000;
    --dark-chip-bg: #0080ff;
    --dark-menu-bg: #999;
    --dark-menu-border-color: #2b296c;
    --dark-menu-chip-bg: #2b296c;
    --dark-accordion-btn-bg: #198754;
    --dark-accordion-btn-color: #000 --dark-btn-dark-color: #aaa;
    --dark-btn-dark-color-hover: #fff;
    background: var(--dark-bg);
    color: var(--dark-color);
}

body.dark .card {
    --bs-card-border-color: var(--dark-color);
    --bs-card-title-color: var(--dark-color);
    --bs-card-bg: var(--dark-bg);
    --bs-card-color: var(--dark-color);
    --bs-card-subtitle-color: var(--dark-color);
}

body.dark .modal,
body.dark .modal-content {
    --bs-modal-border-color: var(--dark-color);
    --bs-modal-title-color: var(--dark-color);
    --bs-modal-bg: var(--dark-bg);
    --bs-modal-color: var(--dark-color);
    --bs-modal-subtitle-color: var(--dark-color);
}

body.dark button.dropdown-toggle {
    --bs-btn-color: var(--dark-color);
    --bs-btn-border-color: var(--dark-color);
    --bs-btn-bg: var(--dark-bg);
}

body.dark button.btn-outline-dark {
    --bs-btn-color: #aaa;
    --bs-btn-border-color: #aaa;
    --bs-btn-hover-color: var(--dark-color);
    --bs-btn-hover-border-color: var(--dark-color);
}

body.dark .dropdown-menu {
    --bs-dropdown-color: var(--dark-color);
    --bs-dropdown-link-color: var(--dark-color);
    --bs-dropdown-border-color: var(--dark-color);
    --bs-dropdown-bg: var(--dark-bg);
}

body.dark .accordion-button {
    --bs-accordion-btn-color: var(--dark-color);
    --bs-accordion-btn-border-color: var(--dark-color);
    --bs-accordion-btn-bg: var(--dark-accordion-btn-bg);
}

body.dark input.form-control {
    --bs-body-bg: var(--dark-bg);
    --bs-body-color: var(--dark-color);
}

body.dark input.form-control::-webkit-input-placeholder {
    opacity: 1 !important;
    color: var(--dark-color);
}

/* MATERIAL UI */

body.dark .MuiChip-label {
    border: 1px solid var(--dark-chip-bg);
    color: var(--dark-chip-bg);
}

body.dark .MuiCheckbox-root {
    color: var(--dark-color);
}

body.dark .MuiTablePagination-toolbar {
    background-color: var(--dark-bg);
    color: var(--dark-color);
}

body.dark .MuiTablePagination-toolbar svg {
    color: var(--dark-color);
}

body.dark .MuiList-root {
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    background-color: var(--dark-bg);
    color: var(--dark-color);
}

body.dark .MuiTablePagination-input {
    border: 1px solid var(--dark-color);
    border-radius: 5px;
}

body.dark li.MuiButtonBase-root:hover {
    background-color: var(--dark-accordion-btn-bg);
    color: var(--dark-accordion-btn-color);
}

body.dark .MuiTablePagination-toolbar button:disabled svg {
    color: grey;
}

/* REACT SELECT */

body.dark div[id^="react-select"][id$="listbox"] {
    border: 1px solid var(--dark-menu-border-color);
    border-radius: 5px;
    background-color: var(--dark-menu-bg);
}

body.dark div[id^="react-select"][id$="listbox"] > div > div {
    border: 1px solid var(--dark-menu-border-color);
    background-color: var(--dark-bg);
    color: var(--dark-color);
}

body.dark div[id^="react-select"][id$="listbox"] > div > div:hover {
    background-color: var(--dark-menu-chip-bg);
}
